body {
    background-image: url('imgs/starry-night.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}
  

.container {
    
    margin: 5px;
    color: white;
    margin: 0 auto;
}

.row {
    
    margin: 5px;
}

.col-12 {
    text-align: center;
    
    margin: 5px;
}

#genie {
    background-image: url(imgs/wizard-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}